@{
}
@model Bowler

<h2>Bowler Details</h2>

<form method="post" asp-controller="Bowler" asp-action="BowlerForm">

    <div asp-validation-summary="All" class="text-danger"></div>

    <h4>Bowler</h4>

    <div class="form-group">
        <label asp-for="BowlerFirstName">First Name:</label>
        <input asp-for="BowlerFirstName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="BowlerMiddleInit">Middle Initial:</label>
        <input asp-for="BowlerMiddleInit" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="BowlerLastName">Last Name:</label>
        <input asp-for="BowlerLastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="BowlerPhoneNumber">Phone Number:</label>
        <input asp-for="Phone Number" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TeamID">Team ID:</label>
        <input asp-for="TeamID" class="form-control" />
    </div>

    <h4>Address</h4>
    <div class="form-group">
        <label asp-for="BowlerAddress">Street Address:</label>
        <input asp-for="BowlerAddress" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="BowlerCity">City:</label>
        <input asp-for="BowlerCity" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="BowlerState">State:</label>
        <input asp-for="BowlerState" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="BowlerZip">Zipcode:</label>
        <input asp-for="BowlerZip" class="form-control" />
    </div>

    <div class="float-end">
        <input class="btn btn-primary" type="submit" value="Submit" />
    </div>

</form>